<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div class="tab-pane my-3" id="contacts" role="tabpanel" aria-labelledby="contacts-tab">
  <div class="container">
    <form>
      <div class="form-froup">
        <label for="inputEmail">E-mail адрес:</label>
        <input type="email" class="form-control my-1" id="inputEmail" aria-describdby="emailHelp" placeholder="Email" required>
      </div>
      <div class="form-froup">
        <label for="exampleFormControlTextarea">Текст:</label>
        <textarea class="form-control" id="exampleFormControlTextarea" rows="3"></textarea>
      </div>
      <div class="col text-center">
        <div class="btn-group my-3" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-secondary">Директору компанії</button>
          <button type="button" class="btn btn-secondary">Менеджеру</button>
          <button type="button" class="btn btn-secondary">У відділ реклами</button>
        </div>
      </div>
    </form>
  </div>
</div>
