<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="single-post">
          <h2 class="post-title"><a href="#">Bootstrap</a></h2>
          <p>Bootstrap (также известен как Twitter Bootstrap) — свободный набор инструментов для создания сайтов и веб-приложений. Включает в себя HTML- и CSS-шаблоны оформления для типографики, веб-форм, кнопок, меток, блоков навигации и прочих компонентов веб-интерфейса, включая JavaScript-расширения.
            Bootstrap использует современные наработки в области CSS и HTML, поэтому необходимо быть внимательным при поддержке старых браузеров.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="grid-posts">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <img class="card-img-top" src="assets/img/a1.jpg" alt="Card image cap">
            <div class="card-body">
              <h3 class="post-category">Front end</h3>
              <h5 class="post-title">LESS</h5>
              <p class="card-text">LESS (Leaner Style Sheets, компактная таблица стилей)— это динамический язык стилей, который разработал Alexis Sellier. Он создан под влиянием языка стилей Sass, и, в свою очередь, оказал влияние на его новый синтаксис «SCSS», в котором также использован синтаксис, являющийся расширением СSS.</p>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card">
            <img class="card-img-top" src="assets/img/a2.jpg" alt="Card image cap">
            <div class="card-body">
              <h3 class="post-category">Back end</h3>
              <h5 class="post-title">C++</h5>
              <p class="card-text">C++ (читается си-плюс-плюс) — компилируемый, статически типизированный язык программирования общего назначения. Поддерживает такие парадигмы программирования, как процедурное программирование, объектно-ориентированное программирование, обобщённое программирование. </p>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card">
            <img class="card-img-top" src="assets/img/a3.jpg" alt="Card image cap">
            <div class="card-body">
              <h3 class="post-category">Back end</h3>
              <h5 class="post-title">C#</h5>
              <p class="card-text">C# (произносится си шарп) — объектно-ориентированный язык программирования. Разработан в 1998—2001 годах группой инженеров компании Microsoft под руководством Андерса Хейлсберга и Скотта Вильтаумота как язык разработки приложений для платформы Microsoft .NET Framework.</p>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card">
            <img class="card-img-top" src="assets/img/a4.jpg" alt="Card image cap">
            <div class="card-body">
              <h3 class="post-category">Front end</h3>
              <h5 class="post-title">CSS</h5>
              <p class="card-text">CSS — формальный язык описания внешнего вида документа, написанного с использованием языка разметки. Преимущественно используется как средство описания, оформления внешнего вида веб-страниц, написанных с помощью языков разметки HTML и XHTML, но может также применяться к любым XML-документам, например, к SVG или XUL.</p>
            </div>
          </div>
        </div>

        <div class="col text-center after-posts my-3">
          <button type="button" class="btn btn-outline-secondary Load-more">
            Load more
            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
